<div class="section_farmer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-pretitle-farmer">Our farmers</div>
                <h2 class="section-title-farmer">We are brilliant farmers</h2>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-4 col-sm-12">
                <div class="team-members">
                    <div class="image">
                        <img src="./assets/images/picture_3.jpg" alt="">
                    </div>
                    <div class="team-info">
                        
                        <h5 class="name">Michael Andrews</h5>
                        <p class="bio">Born on the farm in Capay, Michael showed an early proficiency in the machine shop and is responsible for designing tools used on the farm today.</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="team-members">
                    <div class="image">
                        <img src="./assets/images/picture_4.jpg" alt="">
                    </div>
                    <div class="team-info">
                        
                        <h5 class="name">Kathleen Barsotti</h5>
                        <p class="bio">Born in Belmont, CA, Kathleen attended UC Riverside where she earned her B.S. in Agriculture. She is sole proprietor and manager of the farm.</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="team-members">
                    <div class="image">
                        <img src="./assets/images/picture_2.jpg" alt="">
                    </div>
                    <div class="team-info">
                        
                        <h5 class="name">Mark Ronson</h5>
                        <p class="bio">He has commitment to build a strong financial model for farmers to connect produce directly to consumers by strategically managing our current programs.</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>