


/*  */

/* @media screen and (max-width: 820px) {
    .flex-rev {
        flex-direction: column-reverse;
    }
    .col-md-push-3 {
        max-width: 100%;
    }
    .xxxx {
        max-width: 100%;
    }
    .res_flex {
        flex-direction: column;
    }
    .flex_coll {
        max-width: 100%;
    }
    
} */

/* 
.product-item .product-thumb {
    border: 3px solid #f1eeea;
    padding: 0;
    position: relative;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.product-item .product-thumb a {
    display: block;
    overflow: hidden;
}

.product-item .product-thumb .badges {
    position: absolute;
    width: 48px;
    right: 12px;
    top: 12px;
}

.product-action {
    display: flex !important;
    justify-content: space-between;
}
.product-item .product-thumb img {
    width: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.product-item .product-action {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    background: #5fbd74;
    color: #fff;
    padding: 15px;
    height: 50px;
    text-align: center;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.product-item .product-info .titlec {
    font-size: 18px;
    font-weight: 700;
    color: #5e5a54;
    margin: 20px 0 10px 0;
    font-family: "Lato";
}
.product-item .product-info{
    text-align: center;
}

.product-item .product-info .price {
    font-size: 16px;
    font-weight: 700;
    color: #5fbd74;
}
 

.product-item .product-info .price del {
    color: #cbcac8;
    font-weight: 400;
}



.product-item .product-info .price ins {
    text-decoration: none;
}

.product-info:hover a {
    text-decoration: none;

}



.product-item .product-thumb .badges .hot {
    background: #f76b6a;
    z-index: 98;
}

.product-item .product-thumb .badges > span {
    position: relative;
    display: block;
    border-radius: 50%;
    text-transform: uppercase;
    height: 48px;
    width: 48px;
    text-align: center;
    line-height: 48px;
    padding: 0;
    font-weight: 700;
    margin: 0;
    color: #fff;
    font-size: 12px;
    left: 0;
    top: 0;
    right: auto;
    margin-bottom: -10px;
}


.product-item .product-thumb .badges .onsale {
    background: #f7aa77;
    z-index: 97;
}

.product-item .product-thumb .badges > span {
    position: relative;
    display: block;
    border-radius: 50%;
    text-transform: uppercase;
    height: 48px;
    width: 48px;
    text-align: center;
    line-height: 48px;
    padding: 0;
    font-weight: 700;
    margin: 0;
    color: #fff;
    font-size: 12px;
    left: 0;
    top: 0;
    right: auto;
    margin-bottom: -10px;
}


.product-item:hover .product-action {
    opacity: 1;
    visibility: visible;
}
.product-item:hover .product-thumb {
    border: 3px solid #5fbd74;
} */