<div id="main">
    <div class="section_empty_cart">
        <div class="row margin_stop_empty_cart">
            <div class="col-md-12 col-sm-12">
                <h2 class="page-title">Empty Cart</h2>
            </div>
        </div>
    </div>
</div>
<div class="ctn" style=" width: 100%;border-bottom: 1px solid #eee;">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#" style="color: #5e5a54 !important; line-height: 25px !important;font-family: 'Lato', sans-serif !important;font-size: 15px; text-transform: uppercase;">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page" style=" line-height: 25px !important;font-family: 'Lato', sans-serif !important;font-size: 15px;text-transform: uppercase;color: #5fbd74;">Empty Cart</li>
            </ol>
        </nav>
    </div>
</div>


<div class="section_empty pt-7 pb-7">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="commerce">
                    <p class="cart-empty"> Your cart is currently empty.</p>
                    <a class="organik-btn_empty small" href="#"> Return to shop </a>
                </div>
            </div>
        </div>
    </div>
</div>