<div class="wrapp-benefit">
    <div class="container">
       <div class="row">
            <div class="col-md-12">
                <div class="pretitle">
                    Why choose
                </div>
                <div class="section-title">
                    Organic products?
                </div>
            </div>
       </div>
       <div class="row">
        <div class="col-md-6">
            <div id="accordion">
                <div class="card">
                  <div class="card-header header-bg" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link style-spell" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        
                        <i class="fa-solid fa-heart"></i>	Benefit from more nutrients
											
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Organically grown foods have more nutrients—vitamins, minerals, enzymes, and micronutrients—than commercially grown foods because the soil is managed and nourished with sustainable practices by responsible standards. Organic farming supports eco-sustenance, or farming in harmony with nature.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header header-bg" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed style-spell" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        
                        <i class="fa-solid fa-message"></i> Reduce pollution and protect water and soil 
											
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Organic agriculture considers the medium- and long-term effect of agricultural interventions on the agro-ecosystem. It aims to produce food while establishing an ecological balance to prevent soil fertility or pest problems. Organic agriculture takes a proactive approach as opposed to treating problems after they emerge.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header header-bg" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed style-spell" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        
						<i class="fa-solid fa-lightbulb"></i>	Preserve agricultural diversity 
											
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        Organic farmers are both custodians and users of biodiversity at all levels. At the gene level, traditional and adapted seeds and breeds are preferred for their greater resistance to diseases and their resilience to climatic stress. At the species level, diverse combinations of plants and animals optimize nutrient and energy cycling for agricultural production
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <div class="floating">
                <img src="../../../assets/images/app-desc.png" class="iphone" alt="">
            </div>
        </div>
       </div>
    </div>
</div>

<div class="blog-ctn">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="blog1">Latest</div>
        <h2 class="blog-ttle">
          FROM OUR BLOG
        </h2>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="blog-grid-item">
          <div class="post-thumbnail">
            <a href="#">
              <img src="../../../assets/images/blog_1 (1).jpg" alt="">
            </a>
          </div>
          <div class="post-content">
            <div class="entry-meta">
              <span class="posted-on">
                <i class="fa-regular fa-calendar"></i>
                <span>August 9, 2016</span>
              </span>
              <span class="comment">
                <i class="fa-brands fa-rocketchat"></i> 0
              </span>
            </div>
            <a href="#">
              <h1 class="entry-title">How can salmon be raised organically in fish farms?</h1>
            </a>
            <div class="entry-content"> 
              Organic food consumption is rapidly increasing. The heightened interest in the global environment and a willingness to look
            </div>
            <div class="entry-more">
              <a href="#">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="blog-grid-item">
          <div class="post-thumbnail">
            <a href="#">
              <img src="../../../assets/images/blog_2.jpg" alt="">
            </a>
          </div>
          <div class="post-content">
            <div class="entry-meta">
              <span class="posted-on">
                <i class="fa-regular fa-calendar"></i>
                <span>August 9, 2016</span>
              </span>
              <span class="comment">
                <i class="fa-brands fa-rocketchat"></i> 0
              </span>
            </div>
            <a href="#">
              <h1 class="entry-title">Great bulk recipes to help use all your organic vegetables</h1>
            </a>
            <div class="entry-content"> 
               
								A fridge full of organic vegetables purchased or harvested with the best of intentions, and then life gets busy, leaving no time to peel,
										
            </div>
            <div class="entry-more">
              <a href="#">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="blog-grid-item">
          <div class="post-thumbnail">
            <a href="#">
              <img src="../../../assets/images/blog_1 (1).jpg" alt="">
            </a>
          </div>
          <div class="post-content">
            <div class="entry-meta">
              <span class="posted-on">
                <i class="fa-regular fa-calendar"></i>
                <span>August 9, 2016</span>
              </span>
              <span class="comment">
                <i class="fa-brands fa-rocketchat"></i> 0
              </span>
            </div>
            <a href="#">
              <h1 class="entry-title">How can salmon be raised organically in fish farms?</h1>
            </a>
            <div class="entry-content"> 
              Organic food consumption is rapidly increasing. The heightened interest in the global environment and a willingness to look
            </div>
            <div class="entry-more">
              <a href="#">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <hr>
      </div>
    </div>

   
  </div>
</div>

<div style="margin-top: 30px;margin-bottom: 30px;">
  
</div>


