<div id="main">
    <div class="section_blog-detail">
        <div class="row margin_stop" >
            <div class="col-md-12 col-sm-12">
                <h2 class="page-title">Blog Detail</h2>
            </div>
        </div>
    </div>
</div>
<div class="ctn" style=" width: 100%;border-bottom: 1px solid #eee;">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#" style="color: #5e5a54 !important; line-height: 25px !important;font-family: 'Lato', sans-serif !important;font-size: 15px; text-transform: uppercase;">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page" style="color: #5e5a54 !important; line-height: 25px !important;font-family: 'Lato', sans-serif !important;font-size: 15px;text-transform: uppercase;">Blog</li>
              <li class="breadcrumb-item active" aria-current="page" style="color: #5fbd74 !important; line-height: 25px !important;font-family: 'Lato', sans-serif !important;font-size: 15px;text-transform: uppercase;">Blog Detail</li>
            </ol>
        </nav>
    </div>
</div>

<div class="sectionxx">
    <div class="container">
        <div class="row yy">
            <div class="col-md-9 xx">
               <div class="single-blog">
                    <div class="img-single-blog">
                        <img src="http://tk-themes.net/html-organik/images/blog/blog_detail.jpg" alt="">
                    </div>

                <div class="entry-meta">
                    <span class="posted-on">
                        <i class="fa-regular fa-calendar"></i>
                        <span>August 9, 2016</span>
                    </span>
                    <span class="categories">
                        <i class="fa-regular fa-folder"></i>
                        <a href="#">Nutrition Meal</a>, <a href="#">Organic Planting</a>, <a href="#">Recipes</a>
                    </span>
                    <span class="comment">
                        <i class="fa-brands fa-rocketchat"></i>0
                        
                    </span>
                </div>

                <h1 class="entry-title">How to steam &amp; purée your sugar pie pumkin</h1>

                <div class="entry-content">
                    <p>I don’t know about you, but everywhere I look is a pumpkin recipe – from pumpkin lattes to pumpkin pie. But to get in on the homemade pumpkin cooking action, you will need the skills to make a simple pumpkin purée. Once you have that mastered, you will be surprised how many recipes “fall” into your lap.</p><p>On another note, steaming your pumpkin is a great way to maintain the most nutritional value when you eat it. It’s also fairly quick and simple and makes for a better tasting pumpkin, whatever recipe you’re using it for.</p>
                    <p>
                        <img class="alignright size-full" src="images/blog/blog_detail_2.jpg" alt="">
                    </p>
                    <p><strong>Steamed Pumpkin Purée</strong></p>
                    <p>Cut the pumpkin in half. With a spoon or a scoop, scrape out the seeds and pulp from the center. Place all the seeds into a bowl (you can roast them later).</p>
                    <p>Cut the halves into smaller pieces and place in a large pot of water with a steam basket to keep the pumpkin pieces from touching the water. Boil the water and cover the pot to steam the pumpkin for about 15 to 20 minutes until the pumpkin is tender.</p>
                    <p>Lay the pumpkin pieces on a towel and let cool completely.</p>
                    <p>Once cooled, peel off and discard the rind. Place some of the pumpkin flesh into food processor or a blender. You can also use a potato ricer if you prefer. Do this in batches.</p>
                    <p>Pulse the pumpkin until smooth. Pour the purée into a bowl, and continue to purée until all the pumpkin is done. You can either use this immediately in whatever pumpkin recipe you’d like, or store it in the freezer for later use.</p>
                    <p><strong>Store in the freezer</strong></p>
                    <p>To store in the freezer, spoon about 1 cupful of pumpkin purée into a sealable plastic storage bag. Seal the bag with just a tiny bit of an opening remaining, then use your hands to flatten out the pumpkin inside the bag and push out the air and then seal. Store them in the freezer until you need them.</p>
                    <blockquote><p>Most pumpkin dishes involve scooping out the seeds, cutting off the skin, and chopping up the flesh before cooking. Make pumpkin bread as the default gift for everyone. It is cheap, it is beloved, it is carbs.</p></blockquote>
                    <p>Now that you know how to purée like a pro, we highly recommend that you try our delicious Rustic Pumpkin Pie. There is almost nothing that epitomizes fall more than homemade pumpkin pie. The fresh pumpkin purée in this recipe gives the pie an unbelievable flavor that will make you a believer in using the real deal stuff. This makes a great Thanksgiving and fall dessert — and dare we say breakfast?</p>
                </div>

                <div class="entry-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="tags"> 
                                <a href="#">green</a> <a href="#">natural</a> <a href="#">organic store</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="share"> 
                                <span> <i class="fa-solid fa-share"></i> Share this post </span> 
                                <span> <a target="_blank" href="#"><i class="fa-brands fa-facebook"></i></a> </span> 
                                <span> <a target="_blank" href="#"><i class="fa-brands fa-twitter"></i></a> </span> 
                                <span> <a target="_blank" href="#"><i class="fa-brands fa-google-plus-g"></i></a> </span>
                            </div>
                        </div>
                    </div>
                </div>

               

                <div class="comments-area">
                    <div class="single-comments-list mt-0">
                        <div class="mb-2">
                            <h2 class="comment-title">2 reviews for Orange Juice</h2>
                        </div>
                        <ul class="comment-list">
                            <li>
                                <div class="comment-container">
                                    <div class="comment-author-vcard">
                                        <img alt="" src="http://tk-themes.net/html-organik/images/avatar/avatar.png">
                                    </div>
                                    <div class="comment-author-info">
                                        <span class="comment-author-name">admin</span>
                                        <a href="#" class="comment-date">July 27, 2016</a>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                                    </div>
                                    <div class="reply">
                                        <a class="comment-reply-link" href="#">Reply</a>
                                    </div>
                                </div>
                                <ul class="children">
                                    <li>
                                        <div class="comment-container">
                                            <div class="comment-author-vcard">
                                                <img alt="" src="http://tk-themes.net/html-organik/images/avatar/avatar.png">
                                            </div>
                                            <div class="comment-author-info">
                                                <span class="comment-author-name">admin</span>
                                                <a href="#" class="comment-date">July 27, 2016</a>
                                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                                            </div>
                                            <div class="reply">
                                                <a class="comment-reply-link" href="#">Reply</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="comment-container">
                                    <div class="comment-author-vcard">
                                        <img alt="" src="http://tk-themes.net/html-organik/images/avatar/avatar.png">
                                    </div>
                                    <div class="comment-author-info">
                                        <span class="comment-author-name">admin</span>
                                        <a href="#" class="comment-date">July 27, 2016</a>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                                    </div>
                                    <div class="reply">
                                        <a class="comment-reply-link" href="#">Reply</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="single-comment-form">
                        <div class="mb-2">
                            <h2 class="comment-title">LEAVE A REPLY</h2>
                        </div>
                        <form class="comment-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea id="comment" name="comment" cols="45" rows="5" placeholder="Message *"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <input  id="author" name="author" type="text" value="" size="30" placeholder="Name *" class="mb-2 inp">
                                </div>
                                <div class="col-md-4">
                                    <input  id="email" name="email" type="email" value="" size="30" placeholder="Email *" class="mb-2 inp">
                                </div>
                                <div class="col-md-4">
                                    <input  id="url" name="url" type="text" value="" placeholder="Website" class="inp">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <input name="submit" type="submit" id="submit" class="btn btn-alt btn-border btnnx" value="Submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
               </div>
            </div>






            <div class="col-md-3 xx">
                <div class="sidebar">
                    <div class="widget widget-product-search">
                        <form class="form-search">
                            <input type="text" class="search-field" placeholder="Search products…" value="" name="s">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                    <div class="widget widget-product-categories">
                        <h3 class="widget-title">Categories</h3>
                        <ul class="product-categories">
                            <li><a href="#">Cooking Tips</a> <span class="count">2</span></li>
                            <li><a href="#">Nutrition Meal</a> <span class="count">5</span></li>
                            <li><a href="#">Organic Planting</a> <span class="count">4</span></li>
                            <li><a href="#">Recipes</a> <span class="count">4</span></li>
                        </ul>
                    </div>
                    <div class="widget widget_posts_widget">
                        <h3 class="widget-title">Popular Posts</h3>
                        <div class="item">
                            <div class="thumb"> 
                                <img src="./assets/images/blog_1.jpg" alt="">
                            </div>
                            <div class="info">
                                <span class="title_blog_list">
                                    <a href="blog-detail.html"> How to steam &amp; purée your sugar pie pumkin </a> 
                                </span> 
                                <span class="date"> August 9, 2016 </span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb"> 
                                <img src="./assets/images/blog_2.jpg" alt="">
                            </div>
                            <div class="info">
                                <span class="title_blog_list">
                                    <a href="blog-detail.html"> How to steam &amp; purée your sugar pie pumkin </a> 
                                </span> 
                                <span class="date"> August 9, 2016 </span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb"> 
                                <img src="./assets/images/blog_1.jpg" alt="">
                            </div>
                            <div class="info">
                                <span class="title_blog_list">
                                    <a href="blog-detail.html"> How can salmon be raised organically in fish farms? </a> 
                                </span> 
                                <span class="date"> August 9, 2016 </span>
                            </div>
                        </div>
                    </div>

                    <div class="widget widget-tags">
                        <h3 class="widget-title">Search by Tags</h3>
                        <div class="tagcloud">
                            <a href="#">bread</a> <a href="#">food</a> <a href="#">fruits</a> <a href="#">green</a> <a href="#">healthy</a> <a href="#">natural</a> <a href="#">organic store</a> <a href="#">vegatable</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>