<div class="section-brands">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
         
          <div class="slider-footer">
            <div class="img-footer"><img src="../../../assets/images/client_1.png" alt="" class="img__"></div>
            <div class="img-footer"><img src="../../../assets/images/client_2.png" alt="" class="img__"></div>
            <div class="img-footer"><img src="../../../assets/images/client_3.png" alt="" class="img__"></div>
            <div class="img-footer"><img src="../../../assets/images/client_4.png" alt="" class="img__"></div>
            <div class="img-footer"><img src="../../../assets/images/client_5.png" alt="" class="img__"></div>
          </div>
  
        
      </div>
    </div>
</div>