<div id="main">
    <div class="section_cart">
        <div class="row margin_stop_cart">
            <div class="col-md-12 col-sm-12">
                <h2 class="page-title">Cart</h2>
            </div>
        </div>
    </div>
</div>
<div class="ctn" style=" width: 100%;border-bottom: 1px solid #eee;">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#" style="color: #5e5a54 !important; line-height: 25px !important;font-family: 'Lato', sans-serif !important;font-size: 15px; text-transform: uppercase;">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page" style=" line-height: 25px !important;font-family: 'Lato', sans-serif !important;font-size: 15px;text-transform: uppercase;color: #5fbd74;">Cart</li>
            </ol>
        </nav>
    </div>
</div>

<div class="sectioncart pt-7 pb-7">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <table class="table shop-cart">
                    <tbody>
                        <tr class="cart_item" *ngFor="let da of data;let idex = index" >
                            <td class="product-remove">
                                <a (click)="onRemove(idex)" style="cursor: pointer;" class="remove">×</a>
                            </td>
                            <td class="product-thumbnail">
                                <a href="shop-detail.html">
                                    <img [src]="da.image" alt="">
                                </a>
                            </td>
                            <td class="product-info">
                                <a href="shop-detail.html">{{da.name}}</a>
                                <span class="sub-title">Faucibus Tincidunt</span>
                                <span class="amount">${{da.price}}.00</span>
                               
                            </td>
                            <td class="product-quantity">
                                <div class="quantity">
                                    <input id="qty-1" (change)="onChangeQuantity($event, idex)" type="number" min="0" name="number" [value]="da.amount" class="input-text qty text" >
                                </div>
                            </td>
                            <td class="product-subtotal">
                                <span class="amount" >${{da.total}}.00</span>
                              
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="actions">
                                <a class="continue-shopping" routerLink="/"> Continue Shopping</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div class="cart-totals">
                    <table>
                        <tbody>
                            <tr class="cart-subtotal">
                                <th>Subtotal</th>
                                <td>${{totalPrice}}.00</td>
                            </tr>
                            <tr class="shipping">
                                <th>Shipping</th>
                                <td>${{shipp}}.00</td>
                            </tr>
                            <tr class="order-total">
                                <th>Total</th>
                                <td><strong>${{totalPriceAll}}.00</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="proceed-to-checkout">
                        <a href="#">Proceed to Checkout</a>
                    </div>
                </div>
                <div class="coupon-shipping">
                    <div class="coupon">
                        <form>
                            <input type="text" name="coupon_code" class="coupon-code" id="coupon_code" value="" placeholder="Coupon code">
                            <input type="submit" class="apply-coupon" name="apply_coupon" value="Apply Coupon">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>