<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/images/oranges.png" alt="" class="img-orange" style="width: 100%;">
            </div>
            <div class="col-md-6">
                <div class="title-welcome">
                    Welcome to
                </div>
                <h2 class="orange-store">Organik Store</h2>
                <p class="paragraph">
                    Organic store opened its doors in 1990, it was Renée Elliott's dream to offer the best and widest range of organic foods available, and her mission to promote health in the community and to bring a sense of discovery and adventure into food shopping.
                </p>
                <a href="#" class="btnn-product">Our products</a>
            </div>
        </div>
    </div>
</div>

<div class="hot-deal">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="text-content">
                    <div class="deal-title">
                        Hot Deal
                    </div>
                    <h2 class="natural">
                        Natural fresh juices
                    </h2>
                    <p class="content-hot">
                        Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Uterque enim summo bono fruitur, id est voluptate
                    </p>
                    <div class="countdown-wrap mb-4">
                        <div class="countdown-content">
                            <div class="pl-clock countdown-bar" data-time="2022/10/10">
                                <div class="countdown-item">
                                    <div class="countdown-item-value one">00</div>
                                    <div class="countdown-item-label">Days</div>
                                </div>
                                <div class="countdown-item">
                                    <div class="countdown-item-value ">00</div>
                                    <div class="countdown-item-label">Hours</div>
                                </div><div class="countdown-item">
                                    <div class="countdown-item-value two">00</div>
                                    <div class="countdown-item-label">Minutes</div>
                                </div>
                                <div class="countdown-item">
                                    <div class="countdown-item-value">00</div>
                                    <div class="countdown-item-label">Seconds</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="organik-btn" href="#">Shop Now</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="floating">
                    <img src="../../../assets/images/can.png" alt="" style="width: 100%;" class="img-floating">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="organic-store">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="friendly">
                    A friendly
                </div>
                <h2 class="organic-so">
                    ORGANIC STORE
                </h2>
                <div class="organik-seperator">
                    <div class="sep-holder">
                        <span class="sep-line"></span>
                    </div>
                    <div class="sep-icon">
                        <i class="organik-flower">

                        </i>
                    </div>
                    <div class="sep-holder">
                        <span class="sep-line"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 28px; overflow: hidden;">
            <div class="row row-one">
                <div class="col-md-4 col-820" style="z-index: 2;">
                    <div class="organik-special-title">
                        <div class="number">01</div>
                        <div class="title-welcome first">Always Fresh</div>
                    </div>
                    <p class="ogr">Cur tantas regiones barbarorum peat dibus obiit, tregiones barbarorum peat dibus obiit, tot mariata</p>
                    <div class="organik-special-title">
                        <div class="number">02</div>
                        <div class="title-welcome first">Keep You Healthy</div>
                    </div>
                    <p class="ogr">Cur tantas regiones barbarorum peat dibus obiit, tregiones barbarorum peat dibus obiit, tot mariata</p>
                </div>
                <div class="col-md-4  co-img">
                    <img  src="../../../assets/images/bg_3.jpg" alt="" class="cabage">
                </div>
                <div class="col-md-4 col-820" style="z-index: 2;">
                    <div class="organik-special-title align-right">
                        <div class="number nbm03">03</div>
                        <div class="title-welcome second">Safe From Pesticides</div>
                    </div>
                    <p class="org">Cur tantas regiones barbarorum peat dibus obiit, tregiones barbarorum peat dibus obiit, tot mariata</p>
                    <div class="organik-special-title align-right">
                        <div class="number nbm03">04</div>
                        <div class="title-welcome second">Keep You Healthy</div>
                    </div>
                    <p class="org">Cur tantas regiones barbarorum peat dibus obiit, tregiones barbarorum peat dibus obiit, tot mariata</p>
                </div>
            </div>
        </div>
    </div>
</div>
