<footer class="footer">
    <div class="container">
        <div class="row oned">
            <div class="col-md-5 col-lg-5 col">
                <img src="../../../assets/images/footer_logo.png" class="footer-logo" alt="">
                <p>
                    Welcome to Organik. Our products are freshly harvested, washed ready for box and finally delivered from our family farm right to your doorstep.
                </p>
                <div class="footer-social">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"><i class="fa-brands fa-pinterest"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 col">
                <div class="widget">
                    <h3 class="widget-title">Infomation</h3>
                    <ul>
                        <li><a href="#">New Products</a></li>
                        <li><a href="#">Top Sellers</a></li>
                        <li><a href="#">Our Blog</a></li>
                        <li><a href="#">About Our Shop</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 col">
                <div class="widget">
                    <h3 class="widget-title">Useful Link</h3>
                    <ul>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Our Blog</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Secure Shopping</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 cl-lg-3 col">
                <div class="widget">
                    <h3 class="widget-title">Subscribe</h3>
                    <p>
                        Enter your email address for our mailing list to keep yourself updated.
                    </p>
                    <form class="newsletter">
                        <input type="email" name="EMAIL" placeholder="Your email address" required="">
                        <button><i class="fa fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                Copyright © 2017 <a href="#" class="all-right">Organic Store</a> - All Rights Reserved.
            </div>
            <div class="col-md-4 md-col-footer">
                <img src="../../../assets/images/footer_payment.png" class="img__1" alt="">
            </div>
        </div>
    </div>
    <div class="backtotop" id="backtotop" (click)="onActivate($event)"></div>
</div>
