<div id="main">
    <div class="section-blog-list">
        <div class="row margin_stop">
            <div class="col-md-12 col-sm-12">
                <h2 class="page-title">Blog List</h2>
            </div>
        </div>
    </div>
</div>
<div class="ctn" style=" width: 100%;border-bottom: 1px solid #eee;">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#" style="color: #5e5a54 !important; line-height: 25px !important;font-family: 'Lato', sans-serif !important;font-size: 15px; text-transform: uppercase;">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page" style=" line-height: 25px !important;font-family: 'Lato', sans-serif !important;font-size: 15px;text-transform: uppercase;color: #5fbd74;">Blog</li>
            </ol>
        </nav>
    </div>
</div>
<div class="sectionxx">
    <div class="container">
        <div class="row yy">
            <div class="col-md-9 xx">
                <div class="blog-list">
                    <div class="blog-list-item">
                       <div class="row">
                        <div class="col-md-6">
                            <div class="post-thumbnail">
                                <a routerLink="/blog-detail">
                                    <img src="./assets/images/blog_1.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="post-content">
                                <div class="entry-meta">
                                    <span class="posted-on">
                                        <i class="fa-regular fa-calendar"></i>
                                        <span>August 9, 2016</span>
                                    </span>
                                    <span class="comment">
                                        <i class="fa-brands fa-rocketchat"></i>0
                                    </span>
                                </div>
                                <a routerLink="/blog-detail">
                                    <h1 class="entry-title">How to steam &amp; purée your sugar pie pumkin</h1>
                                </a>
                                <div class="entry-content"> 
                                    Cut the halves into smaller pieces and place in a large pot of water with a steam basket to keep the pumpkin pieces from touching…
                                </div>
                                <div class="entry-more">
                                    <a href="blog-detail.html">Read more</a>
                                </div>
                            </div>
                        </div>
                       </div>
                    </div>
                    <div class="blog-list-item">
                       <div class="row">
                        <div class="col-md-6">
                            <div class="post-thumbnail">
                                <a href="#">
                                    <img src="./assets/images/blog_2.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="post-content">
                                <div class="entry-meta">
                                    <span class="posted-on">
                                        <i class="fa-regular fa-calendar"></i>
                                        <span>August 9, 2016</span>
                                    </span>
                                    <span class="comment">
                                        <i class="fa-brands fa-rocketchat"></i>0
                                    </span>
                                </div>
                                <a href="blog-detail.html">
                                    <h1 class="entry-title">Great bulk recipes to help use all your organic vegetables</h1>
                                </a>
                                <div class="entry-content"> 
                                    A fridge full of organic vegetables purchased or harvested with the best of intentions, and then life gets busy, leaving no time to peel,
                                </div>
                                <div class="entry-more">
                                    <a href="blog-detail.html">Read more</a>
                                </div>
                            </div>
                        </div>
                       </div>
                    </div>
                    <div class="blog-list-item">
                       <div class="row">
                        <div class="col-md-6">
                            <div class="post-thumbnail">
                                <a href="#">
                                    <img src="./assets/images/blog_1.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="post-content">
                                <div class="entry-meta">
                                    <span class="posted-on">
                                        <i class="fa-regular fa-calendar"></i>
                                        <span>August 9, 2016</span>
                                    </span>
                                    <span class="comment">
                                        <i class="fa-brands fa-rocketchat"></i>0
                                    </span>
                                </div>
                                <a href="blog-detail.html">
                                    <h1 class="entry-title">How can salmon be raised organically in fish farms?</h1>
                                </a>
                                <div class="entry-content"> 
                                    Organic food consumption is rapidly increasing. The heightened interest in the global environment and a willingness to look
                                </div>
                                <div class="entry-more">
                                    <a href="blog-detail.html">Read more</a>
                                </div>
                            </div>
                        </div>
                       </div>
                    </div>
                    <div class="blog-list-item">
                       <div class="row">
                        <div class="col-md-6">
                            <div class="post-thumbnail">
                                <a href="#">
                                    <img src="./assets/images/blog_2.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="post-content">
                                <div class="entry-meta">
                                    <span class="posted-on">
                                        <i class="fa-regular fa-calendar"></i>
                                        <span>August 9, 2016</span>
                                    </span>
                                    <span class="comment">
                                        <i class="fa-brands fa-rocketchat"></i>0
                                    </span>
                                </div>
                                <a href="blog-detail.html">
                                    <h1 class="entry-title">Change your eating habits with this organic food diet plan</h1>
                                </a>
                                <div class="entry-content"> 
                                    The Age of Information has given us modern conveniences like the Internet and smart devices. With these, information is readily available
                                </div>
                                
                                <div class="entry-more">
                                    <a href="blog-detail.html">Read more</a>
                                </div>
                            </div>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 xx">
                <div class="sidebar">
                    <div class="widget widget-product-search">
                        <form class="form-search">
                            <input type="text" class="search-field" placeholder="Search products…" value="" name="s">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                    <div class="widget widget-product-categories">
                        <h3 class="widget-title">Categories</h3>
                        <ul class="product-categories">
                            <li><a href="#">Cooking Tips</a> <span class="count">2</span></li>
                            <li><a href="#">Nutrition Meal</a> <span class="count">5</span></li>
                            <li><a href="#">Organic Planting</a> <span class="count">4</span></li>
                            <li><a href="#">Recipes</a> <span class="count">4</span></li>
                        </ul>
                    </div>
                    <div class="widget widget_posts_widget">
                        <h3 class="widget-title">Popular Posts</h3>
                        <div class="item">
                            <div class="thumb"> 
                                <img src="./assets/images/blog_1.jpg" alt="">
                            </div>
                            <div class="info">
                                <span class="title_blog_list">
                                    <a href="blog-detail.html"> How to steam &amp; purée your sugar pie pumkin </a> 
                                </span> 
                                <span class="date"> August 9, 2016 </span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb"> 
                                <img src="./assets/images/blog_2.jpg" alt="">
                            </div>
                            <div class="info">
                                <span class="title_blog_list">
                                    <a href="blog-detail.html"> How to steam &amp; purée your sugar pie pumkin </a> 
                                </span> 
                                <span class="date"> August 9, 2016 </span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb"> 
                                <img src="./assets/images/blog_1.jpg" alt="">
                            </div>
                            <div class="info">
                                <span class="title_blog_list">
                                    <a href="blog-detail.html"> How can salmon be raised organically in fish farms? </a> 
                                </span> 
                                <span class="date"> August 9, 2016 </span>
                            </div>
                        </div>
                    </div>

                    <div class="widget widget-tags">
                        <h3 class="widget-title">Search by Tags</h3>
                        <div class="tagcloud">
                            <a href="#">bread</a> <a href="#">food</a> <a href="#">fruits</a> <a href="#">green</a> <a href="#">healthy</a> <a href="#">natural</a> <a href="#">organic store</a> <a href="#">vegatable</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>